.env
.cache
.pylintrc
/FanTAIno_venv
fantaino.egg-info
**/__pycache__/
/__pycache__/
/data/raw
/data/processed
/results
/outputs
/logs
PACKAGES.md
/aws
/multirun
/catboost_info
/scratch/.datachain
streamlit/.streamlit/*